.o_form_view {
    .radwan_contract_custom_label,
    label.radwan_contract_custom_label,
    .o_form_label.radwan_contract_custom_label {
        color: #11823b !important;
        font-weight: 600;
    }

    .radwan_contract_custom_separator,
    .radwan_contract_custom_separator .o_horizontal_separator {
        color: #11823b !important;
        font-weight: 700;
    }
}
